*{
    box-sizing: border-box;
}
.above-fold{
    width: 100%;
    height: 100%
}
.button{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin-top: 5px;
}
img.carousel{
    width:100vw;
    height: 90vh;
}
img{
    margin: 0 auto;
    display: flex;
}